/* login.css */
.login-page {
  text-align: center;
  padding: 20px;
  font-family: 'Parkinsans', sans-serif;
}

.login-page h1 {
  color: purple;
  font-size: 2em;
  margin-bottom: 10px;
  font-family: 'Parkinsans', sans-serif;
}

.login-page h2 {
  font-size: 2.7em;
  margin-bottom: 20px;
  font-family: 'Parkinsans', sans-serif;
}

.login-page h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: 'Parkinsans', sans-serif;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-family: 'Parkinsans', sans-serif;
}

.login-buttons-container > div {
  width: 40%;
  text-align: center;
  font-family: 'Parkinsans', sans-serif;
}
