/* User Data Page Styles */
.user-data-page {
    font-family: 'Parkinsans', sans-serif;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100vh; /* Ensures the page takes the full height of the viewport */
    position: relative; /* Ensures the container works as a reference for absolute positioning inside it */
}

.user-data-header {
    text-align: center; /* Centers text horizontally */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

h1 {
    color: purple;
    margin: 0; /* Removes margin for perfect centering */
    font-size: 2.5em; /* Adjust font size if needed */
    font-weight: bold; /* Makes title stand out */
}

/* Go Back Button Positioning - Bottom Left */
.user-data-page .go-back-button-container {
    position: fixed; /* Fixes the button to the viewport */
    bottom: 30px; /* Position 30px from the bottom of the viewport */
    left: 20px; /* Position 20px from the left of the viewport */
}

.user-data-page .go-back-button-container button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-data-page .go-back-button-container button:hover {
    background-color: #1e0066;
}
