
.user-data-header {
    text-align: center;
    position: relative;
    font-family: 'Parkinsans', sans-serif;
}

h1 {
    color: purple;
}

/* Go Back Button Positioning - Bottom Left */
.user-data-page .go-back-button-container {
    position: fixed; /* Fixes the button to the viewport */
    bottom: 30px; /* Position 30px from the bottom of the viewport */
    left: 20px; /* Position 20px from the left of the viewport */
}

.user-data-page .go-back-button-container button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-data-page .go-back-button-container button:hover {
    background-color: #1e0066;
}
